@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
        <li class="btn">This job is unclaimed.

        <form action="claimJob" class="claimJob">
            <input type="hidden" value="@Job"/>
            <button type="submit"></button>
        </form>
        <div class="claimed"></div>
        @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</li>
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>
    <hr />
}

<script>
    $(".claimJob").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("ClaimJob")',
            type: 'POST',
            data: $(this).serialize(),
            datatype: 'json',
            success: function (result) {
                var string = "Job Claimed!";
                $("claimed").html(string);
            }
        });
    });
</script>

