@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <li>
            <ul>
                <li>@Job.Description</li>
            </ul>
        </li>
            @if (Job.Worker == null)
            { 

                <li class="btn">This job is unclaimed.

                    <form action="ClaimJob" class="claimJob">
                        <input type="hidden" name="Job" value="@Job"/>
                        <button type="submit">Claim</button>
                    </form>
                </li>
            }
            else
            {
                <li><p>This job has been claimed by @Job.Worker</p></li>
            }
    </ul>
    <div class="claimed"></div>
    <hr />
}

<script>
    $(".claimJob").submit(function (event) {
        event.preventDefault();
        console.log("TESTING HELLO");
        $.ajax({
            url: '@Url.Action("ClaimJob")',
            type: 'POST',
            data: $(this).serialize(),
            datatype: 'json',
            success: function (result) {
                var string = " has been claimed by ";
                $("claimed").html(result.Title + string);
            }
        });
    });
</script>

