<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <li>
            <ul>
                <li>@Job.Description</li>
                <li><div class="claimed"></div></li>
            </ul>
        </li>
            @if (Job.Worker == null)
            {
                <li class="btn">This job is unclaimed.                
                    <form action="ClaimJob" class="claimJob">
                        <input type="hidden" name="Job" value="@Job.JobId"/>
                        <button type="submit">Claim</button>
                    </form>
                    <div class="claimed"></div>
                </li>
            }
            else
            {
                <li class="invisibleLI"><p>This job has been claimed by @Job.Worker.FirstName</p></li>
                @if (User.Identity.Name == Job.Worker.UserName && Job.Completed == false)
                {
                    <li class="invisibleLI">
                            <form action="JobDone" class="jobDone">
                            <input type="hidden" name="Job" value="@Job.JobId"/>
                            <button type="submit">Done?</button>
                        </form>

                        <div id="isCompleted"></div>
                    </li>
                }
                else
                {
                    <li>This Job has been completed</li>

                }
            }
        </ul>
        <hr />

}

<script>
    $(".claimJob").submit(function (event) {
        event.preventDefault();
        console.log($(this).serialize());
        $.ajax({
            url: '@Url.Action("ClaimJob")',
            type: 'POST',
            data: $(this).serialize(),
            datatype: 'text',
            success: function (result) {
                if (typeof(string)){
                    var string = " is not available! You are already assigned a job!";
                    console.log("TESTING HEHHHHHHA");
                }
                else {
                    var string = " has been claimed by ";
                    console.log("HELL YEAH TESTING!");
                }
                $("claimed").html(result.Title + string);
            }
        });
    });
    $(".jobDone").submit(function (event) {
        event.preventDefault();
        console.log($(this).serialize());
        $.ajax({
            url: '@Url.Action("JobDone")',
            type: 'POST',
            data: $(this).serialize(),
            datatype: 'text',
            success: function (result) {
                console.log($(this).serialize());
                var string = " has been completed!"
                $("#isCompleted").html(result + string);
            }
        });
    });
</script>

