@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Job:</h3>
        @foreach(var Job in Model.Jobs)
        {
            @if(Job.Worker.UserName == User.Identity.Name && Job.Completed == false)
            {
                @Job.Title
                <form action="JobDone" class="jobDone">
                    <input type="hidden" name="Job" value="@Job.JobId" />
                    <button type="submit">Done?</button>
                </form>
                <hr />
            }
        }

        <br /><br />

        <h3>Your Previous Jobs</h3>

        @foreach (var Job in Model.Jobs)
        {
            @if(Job.Worker.UserName == Model.UserName)
            {
                <hr />
                <h5>@Job.Title</h5>
            }
        }
    </div>
}

<script>
    $(".jobDone").submit(function (event) {
        console.log("HELLO");
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("ClaimJob")',
            type: 'POST',
            data: $(this).serialize(),
            datatype: 'text',
            success: function (result) {
                console.log("TESTING");
                var string = " has been claimed by ";
                $("claimed").html(result.Title + string);
            }
        });
    });
    $(".jobDone").submit(function (event) {
        event.preventDefault();
        console.log($(this).serialize());
        $.ajax({
            url: '@Url.Action("JobDone")',
            type: 'POST',
            data: $(this).serialize(),
            datatype: 'text',
            success: function (result) {
                console.log($(this).serialize());
                var string = " has been completed!"
                $("#isCompleted").html(result + string);
            }
        });
    });
</script>