@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            <hr />
            <h5>@Job.Title</h5>
            <form action="JobDone" class="jobDone">
                <input type="hidden" name="Job" value="@Job.JobId" />
                <button type="submit">Done?</button>
            </form>

        }
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}

<script>
    $(".jobDone").submit(function (event) {
        console.log("HELLO");
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("ClaimJob")',
            type: 'POST',
            data: $(this).serialize(),
            datatype: 'text',
            success: function (result) {
                console.log("TESTING");
                var string = " has been claimed by ";
                $("claimed").html(result.Title + string);
            }
        });
    });
</script>